.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#top-nav {
  background-color:white;
  border-bottom: 1px solid lightgray;
  height: 20px;
}

#main-body {
  display: flex;
  flex-direction: row;
}

#controls {
  background-color: white;
  height: 100vh;
  min-width: 250px;
  max-width: 250px;
  border-right: 1px solid lightgray;
  text-align: left;
  padding: 5px;
}

#composer {
  background-color: white;
  height: 100vh;
  flex-grow: 1;
}

.highlight {
  background-color: limegreen;
}

@media only screen and (max-width: 500px) {
  #main-body {
    flex-direction: column;
  }
}
